.kestra/flows/codebase_health.yml
id: A4DA_CodeHealth
namespace: devops.a4da
description: >
  The core intelligence flow. Fetches GitHub PR data, uses the AI Agent to summarize code quality 
  and generates the reward signal and a unique narrative.

inputs:
  - id: githubSha
    type: STRING
    description: The commit SHA passed by the Cline CLI trigger.

tasks:
  - id: fetch_pr_data
    type: io.kestra.plugin.fs.http.Request
    description: Fetches the PR/commit data from GitHub using a read-only token.
    url: "https://api.github.com/repos/{{ env.GITHUB_REPOSITORY }}/commits/{{ inputs.githubSha }}/pulls"
    method: GET
    headers:
      # Kestra internal secret, configured via Base64 ENV
      Authorization: "token {{ secret('GITHUB_PAT_READ') }}" 

  - id: analyze_and_reward
    type: io.kestra.plugin.ai.agent.AIAgent
    description: Summarizes review data and generates the reward signal and custom lore narrative.
    
    provider:
      type: io.kestra.plugin.ai.provider.openai.OpenAI
      apiKey: "{{ secret('KESTRA_OPENAI_API_KEY') }}" 
      modelName: gpt-4o 
    
    systemMessage: |
      You are an expert DevOps analyst and creative storyteller (Captain Code Storyteller). 
      Analyze the raw GitHub Pull Request review data, and output a codebase health score (reward_signal) and a lore narrative.

    prompt: |
      Analyze the raw JSON data of the Pull Request for commit {{ inputs.githubSha }}.
      Raw Data: {{ outputs.fetch_pr_data.body }}
      
      Output a single JSON object that must contain three elements: reward_signal (float 0.0 to 1.0), summary (string), and code_lore_narrative (string).
    
    outputFormat: # Ensures Oumi receives structured data
      type: JSON
      jsonSchema: |
        {
          "type": "object",
          "properties": {
            "reward_signal": {"type": "number"},
            "summary": {"type": "string"},
            "code_lore_narrative": {"type": "string"}
          },
          "required": ["reward_signal", "summary", "code_lore_narrative"]
        }
        
  - id: send_reward_to_oumi
    type: io.kestra.plugin.fs.http.Request
    description: Sends the calculated reward signal to the Oumi RL training server (Step 4).
    url: "{{ secret('OUMI_RL_TRAINING_ENDPOINT') }}" 
    method: POST
    headers:
      Content-Type: "application/json"
    body: "{{ outputs.analyze_and_reward.jsonOutput }}"